@model Order
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AboutLayoutProject.cshtml";
}
@section mainSection{
    <h1>Index order mansoor</h1>
    <div>
        @ViewBag.Message
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">order key</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Location</th>
                <th scope="col">Address</th>
                <th scope="col">Delivery Options</th>
                <th scope="col">Handle</th>
                 <th scope="col">Phone</th>
                <th scope="col">Handle</th>

            </tr>
        </thead>
        <tbody>
            @*<tr>
                <td>@ViewBag.MyOrder.OrderId</td>
                <td>@ViewBag.MyOrder.OrderId</td>
                <td>@ViewBag.MyOrder.OrderId</td>
                <td>@ViewBag.MyOrder.OrderId</td>
                <td>@ViewBag.MyOrder.OrderId</td>
                <td>@ViewBag.MyOrder.OrderId</td>
                <td>@ViewBag.MyOrder.OrderId</td>
                <td>@ViewBag.MyOrder.OrderId</td>

                <td>@ViewBag.MyOrder.OrderId</td>
                <td>
                    JJJJ
                </td>

            </tr>
        
            @while (ViewBag.Reader.Read())
            {
                <tr>
                    <td>@ViewBag.Reader["OrderId"]</td>
                    <td>@ViewBag.Reader["OrderKey"]</td>
                    <td>@ViewBag.Reader["Phone"]</td>
                    <td>@ViewBag.Reader["Email"]</td>
                    <td>@ViewBag.Reader["Price"]</td>
                    <td>@ViewBag.Reader["Quantity"]</td>
                    <td>@ViewBag.Reader["Payment"]</td>
                    <td>@ViewBag.Reader["Location"]</td>

                    <td>@ViewBag.Reader["Address"]</td>
                    <td>
                        @if (@ViewBag.Reader["Packaging"] == 0)
                        {
                            @ViewBag.Tracking 
                        }else
                        {
                           @ViewBag.Packaging
                        }
                    </td>

                </tr>
        }*@
            
        </tbody>
    </table>
    @*<div >
        @ViewBag.Header
    </div>
         /*
            OrderId
            OrderKey
           Phone
           Email
           Quantity
           Price
            Payment
           Location
           Address
            Packaging
            Tracking
            
             */*@
    @*<div> Order ID :@ViewBag.MyOrder.OrderId</div>
    <div> Order Key  :@ViewBag.MyOrder.OrderKey </div>
    <div> Phone  :@ViewBag.MyOrder.Phone </div>
    <div> Email  :@ViewBag.MyOrder.Email</div>
    <div> Quantity  :@ViewBag.MyOrder.Quantity </div>
    <div> Price  : @Convert.ToDecimal(Model.Quantity * Model.Price)  </div>
    
    <div>
        Delivery Options:
        @if (Model.Packaging)
        {
        @Html.Display("Packaging")
        @Html.DisplayName("Packaging")
        }
        @if (Model.Tracking)
        {
            @Html.Display("Tracking")
            @Html.DisplayName("Tracking")
        }
    </div>
    <div> Location  :@ViewBag.MyOrder.Location </div>
    <div> Address  :@ViewBag.MyOrder.Address </div>
    <div></div>*@
}


